<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Fact API - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="../static/scripts/getFact.js"></script>
</head>
<body>
    <div id="navigation-container">
        <ul>
            <li><a href="https://github.com/ruxixa">GitHub</a></li>
            <li><a href="{{ url_for('show_api_page') }}">API</a></li>
            <li><a href="{{ url_for('show_about_page') }}">About</a></li>
        </ul>
    </div>    
    <div id="fact-container">
        <h2>Random Fact Obtained Using My API:</h2><br>
        <p id="fact-text">Loading...</p>
        <button id="reload-btn" onclick="getRandomFact()">Reload Fact</button>
    </div>
</body>
</html>
